@import "../RouteStyle/base.scss";

.user__stats {
  display: flex;
}

.user__stats {
  justify-content: space-between;
  width: 100%;
}

.user__stats--item {
//   border: 1px solid blue;
  width: 23%;
  background-color: $white;
  > div,
  span {
    display: inline-block;
  }
  span {
    // border: 1px solid red;
    margin: 1rem;
  }
}
