@import "../../assets/RouteStyle/base.scss";

.form--wrapper,
.form--container,
.action__area {
  display: flex;
}

.student--container {
  justify-content: space-between;
}

.student--container,
.edit__student,
.del__student {
  box-shadow: 0px 10px 8px 2px rgb(180, 180, 180);
}

.form--container,
.student--container {
  width: 100%;
}

.form--container {
  place-content: center;
  place-items: center;
  // min-height: 100vh;
}

.form--wrapper {
  padding: 4rem 2rem;
}

.error__message {
  color: red;
  margin: 0;
  margin: 1rem 0;
}

.form--wrapper {
  flex-direction: column;
  height: fit-content;
  width: 30%;
  label {
    margin-bottom: 0.4rem;
  }

  input {
    padding: 0.2rem;
  }
}

.form--wrapper,
.table,
.edit__student,
.del__student {
  background: $white;
}

.student--container,
.edit__student,
.del__student {
  position: fixed;
  top: 3%;
  right: 5%;
  width: 90%;
}

.student--container {
  display: flex;
  // height: 70%;
  // grid-column: 1/-1;
  padding: 3rem 2rem;
  background: #f9f9f9;
  z-index: 2;
}
.table {
  border: 1px solid #ccc;
  width: 70%;
  padding: 1rem;
}

.action__area {
  margin: 2rem 0;
  position: relative;
}

// ==============

.edit__student,
.del__student {
  width: 50%;
  top: 5%;
  left: 30%;
  z-index: 9;
  .form--wrapper {
    width: 100%;
  }
  input {
    width: 100%;
  }
}

.del__student {
  top: 25%;
  z-index: 10;
  width: 50%;
}
