.filled,
.edit,
.refresh,
.delete {
  background: royalblue;
  border: 0;
  padding: 1rem;
  color: #fff;
  margin-right: 1rem;

  &:hover {
    background: rgb(37, 80, 209);
  }

  cursor: pointer;
}


.edit {
  background: #5877cc;

  &:hover {
    background: rgb(37, 80, 209);
  }

  cursor: pointer;
}

.refresh {
  background: rgb(32, 138, 80);


  &:hover {
    background: rgb(28, 128, 73);
  }

  cursor: pointer;
}

.delete{
  background: rgb(145, 22, 22);
  &:hover {
    background: rgb(114, 18, 18);
  }
}
