@import "../../assets/RouteStyle/base.scss";

.table table,
.table {
  padding: 1rem;
}
.table {
  background: $white;
  table {
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
  }
}
