@import "../../assets/RouteStyle/base.scss";

table {
  padding: 1rem;
  background-color: $white;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  tr {
    border: 1px solid #ccc;
    // padding: 1rem;
  }
}
