.question__container{
    padding: 2rem 0;
}

.question__header{
    margin: 1rem 0;
    padding: 0 3rem;

    h1{
        font-weight: 500;
        font-size: 1.5rem;
    }
}

.question__answer,
.question__control--button{
    display: flex;
}

.question__control--numbers,
.question__control--button,
.question__answer,
.question__view{
    padding: 0 25rem;
    margin-bottom: 2rem;

}

.question__header,
.question__container,
.separator{
    width: 100%;
}


.separator{
    height: 30px;
    background-color: rgb(245, 245, 245);
    margin: 1rem 0;

}

.question__view{

    h1{
        text-align: center;
        font-weight: 600;
        font-size: 1.3rem;
    }

    textarea{
        width: 100%;
        border: none;
        outline: none;
        background-color: rgb(245, 245, 245);
        padding: 2rem;
        font-weight: bold;
        letter-spacing: 0.02rem;
        font-size: 1.5rem;
    }
}


.question__answer{
    flex-direction: column;
    justify-content: center;


    h1{
        font-weight: 600;
        font-size: 1.3rem; 
    }

    input{
        line-height: 2;
        border: none;
        border-bottom: 1px solid rgb(42, 42, 181);
        font-size:  1.5rem;
        outline: none;
        padding: 1rem;
    }


}



.question__control--button{
    align-items: center;
    justify-content: space-between;
 
    button{
       background-color: rgb(55, 55, 55);
       color: white;
       padding: 1rem;
       border: none;
       border-radius: 100%;
       outline: none;
    }
}


.question__control--numbers{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-row-gap: 10px;

    button{
        background-color: rgb(55, 55, 55);
        color: white;
        padding: 1rem;
        width: 70%;
        border: none;
        outline: none;

        &:hover{
            background-color: rgb(80, 80, 80);
        }
    
    }
}